.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn_danger {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.guitar_header {
    margin-top: 8px;
}


.navbar {
    background-color: DarkGoldenrod;
}

.logo {
    padding-left: 10px;
}

.search-bar {
  margin-top: 0px;
}

.input-field input[type=search]+label {
  left: 0px;
}

.material-icons {
  font-size: 20px;
}

.input-field input[type=search]~.material-icons {
  font-size: 20px;
  padding-left: 2px;
}

input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: #f6bb36;
  box-shadow: 0 1px 0 0 #f6bb36;
  padding-left: 25px;
}

.input-field .prefix.active {
  color: #f6bb36;
}