/* buttons */

.btn_small {
  height: 24px;
  width: 60px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}

.btn_danger {
  height: 24px;
  width: 60px;
  line-height: 24px;
  margin: 5px 5px;
  padding: 0 0.5em;
}


.btn
submit_btn {
  color: #4295f5;
}

/* nav-bar */

.guitar_header {
  margin-top: 8px;
}

.heading-row {
  margin-bottom: 5px;
}


/* search-bar */

.search-bar {
  margin-top: 0px;
}

.input-field input[type=search]+label {
  left: 0px;
}

.material-icons {
  font-size: 20px;
}

.input-field input[type=search]~.material-icons {
  font-size: 20px;
  padding-left: 2px;
}

input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: #6f87bd;
  box-shadow: 0 1px 0 0 #6f87bd;
  padding-left: 25px;
}

input[type=text]:focus {
  background-color: #6f87bd;
  outline: none;
}

h3 {
  color: #6f87bd;
}


/* Set a style for all buttons */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
