{% extends 'base.html' %}
{% block content %}
        {% for guitar in guitars %}
            {{guitar.guitar_name}}
            {{guitar.category_id}}
            {{guitar.guitar_description}}
            {{guitar.author}}
            {{guitar.created_by}}
            {{guitar.date_created}}
        {% endfor %}
        {{category_name}}
        
        
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
        </ul>
        
{% endblock %}
