{% extends 'base.html'%} {% block content %}
<div class="row" "col s9">
    <div class="col s12 m7">
        {% for guitar in guitars %}
        <div class="card" style="padding-left: 5px">
            <div>
            <strong>{{guitar.guitar_name}} - {{guitar.category_name}} </strong> - {{guitar.date_created}}
            </div>
            <div class="card-image">
                <img src="{{guitar.image_url}}" class="img-rounded" alt="guitarpic" width="530" height="350">
            </div>
            <div class="card-content">
                <span>
                {{guitar.guitar_description}}
                </span>
            </div>
            <div class="card-action">
                <a href="{{url_for('delete_guitar', guitar_id=guitar._id)}}" class="waves-effect waves-light btn btn_danger red">DEL</a>
                <a href="{{url_for('edit_guitars', guitar_id=guitar._id)}}" class="waves-effect waves-light btn btn_small blue">EDIT</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>






















