{% extends 'base.html'%} {% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for guitar in guitars %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('edit_guitars', guitar_id=guitar._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>
                <div class=" guitar_header col s9">
                    <strong>{{guitar.guitar_name}}</strong> - {{guitar.date_created}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                {{guitar.guitar_description}}
            <form>
              <input type="text" id="input">
              <button type="button" id="submit">Submit</button>
            </form>
            
            <div id="photo"></div>

            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username"/>
        <button>Sign In</button>
    </form>
    
</div>
{% endblock %}





        
            
<!--            {{guitar.category_id}}-->
            
<!--            {{guitar.author}}-->
<!--            {{guitar.created_by}}-->
            
  
<!--        {{category_name}}-->
        
        

    
